{% extends "base.html" %}

{% block content %}

<div class="bg-blue-100 border-t border-blue-500 rounded-b text-blue-900 px-4 py-3 shadow-md" role="alert">
  <div class="flex">
    <div class="py-1"><svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
    <div>
      <p class="font-bold">Session</p>
      <p class="text-sm">
        {% if not request.session.items %}Empty{% endif %}
        <ul class="list-unstyled">
          {% for item in request.session.items %}
            <li>{{item.0}}: {{item.1}}</li>
          {% endfor %}
        </ul>
      </p>
    </div>
  </div>
</div>
<br>
<br>

{% if errors %}
<div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
  <strong class="font-bold">Errors:</strong>
  <ul>
    {% for err in errors %}
      <li>{{err}}</li>
    {% endfor %}
  </ul>
  {% if error_reason %}
  <span class="block sm:inline">{{error_reason}}</span>
  {% endif %}
  <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
    <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
  </span>
</div>
<div class="alert alert-danger" role="alert">
  <strong>Errors:</strong>
  <ul class="list-unstyled">
      {% for err in errors %}
        <li>{{err}}</li>
      {% endfor %}
  </ul>
  {% if error_reason %}
    <p><b>Reason:</b> {{error_reason}}</p>
  {% endif %}
</div>
{% endif %}

{% if not request.user.is_authenticated %}
<div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
  <strong class="font-bold">Not authenticated</strong>
  <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
    <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
  </span>
</div>
{% endif %}

{% if success_slo %}
<div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
  <strong class="font-bold">Successfully logged out</strong>
  <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
    <svg class="fill-current h-6 w-6 text-green-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
  </span>
</div>
{% endif %}

<div class="container mx-auto">
{% if request.user.is_authenticated %}
  <div class="container mx-auto">
  {% if request.session.samlUserdata %}
    <table class="table-auto">
      <thead>
        <tr>
          <th class="px-4 py-2">Name</th>
          <th class="px-4 py-2">Value</th>
        </tr>
      </thead>
      <tbody>
        {% for attr in request.session.samlUserdata.items %}
          <tr {% cycle '' 'class="bg-gray-200"' %}>
            <td class="border px-4 py-2">{{ attr.0 }}</td>
            <td class="border px-4 py-2">
              {% for val in attr.1 %}
                {{ val }}
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
  <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
    <strong class="font-bold">You don't have any attributes</strong>
    <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
      <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
    </span>
  </div>
  {% endif %}
  </div>
  <br>
  <br>
  <a class="bg-red-700 hover:bg-red-800 text-white font-bold py-2 px-4 rounded space-y-6"  href="{% url 'logout' %}">Logout (SLO Not Implemented)</a>
{% else %}
<div class="flex py-4">
  <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="{% url 'saml2_pro_auth:login' provider='oktaProvider' %}">Login Okta</a>
  <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="{% url 'saml2_pro_auth:login' provider='gsuiteProvider' %}">Login GSuite</a>
  {% for provider in object_list %}
  <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="{% url 'saml2_pro_auth:login' provider=provider.id %}">{{provider.name}}</a>
  {% endfor %}
</div>
{% endif %}
</div>
<div class="flex py-4">
  <a class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" href="{% url 'saml2_pro_auth:metadata' provider='oktaProvider' %}">Okta Provider Metadata</a>
  <a class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" href="{% url 'saml2_pro_auth:metadata' provider='gsuiteProvider' %}">Gsuite Provider Metadata</a>
  {% for provider in object_list %}
  <a class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" href="{% url 'saml2_pro_auth:metadata' provider=provider.id %}">{{provider.name}} Metadata</a>
  {% endfor %}
</div>
{% endblock %}
