[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "*"
check-manifest = "*"
pylint = "*"
twine = "*"
coverage = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
pre-commit = "*"
isort = "*"
black = "==20.8b1"
pylint-django = "*"
pylint-common = "*"
tox-factor = "*"

[packages]
django-saml2-pro-auth = {editable = true, path = "."}
